@using WebAI.Models
@using BusinessLogic.DTO
@model IEnumerable<KeyWordViewModel>

@{ 

    int personId;
    if (Model.Count() != 0)
    {
        personId = Model.FirstOrDefault().PersonId;

    }

    else if (ViewBag.SelectedPersonId != null)
    {
        personId = ViewBag.SelectedPersonId;
    }

    else
    {
        personId = ViewBag.DefaultPersonId;
        //if(PersonIdRemember.Id == 0)
        //{
        //    personId = ViewBag.DefaultPersonId;
        //}

        //else
        //{
        //    personId = PersonIdRemember.Id;
        //}

    }

}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Список "Ключевых слов" для персоны "@ViewBag.Person"</div>
    @*<div class="panel-body">
        <p>Для редактирования и удаления записи - нажмите на неё</p>
    </div>*@

    <div class="list-group">
        @{
            if (Model.Count() > 0)
            {
                foreach (var keyWord in Model)
                {
                    <a href="@Url.Action("ChangeKeyWord", new { id = keyWord.Id })" class="list-group-item">@keyWord.Name</a>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">Для данной персоны еще не добавлены ключевые слова!</div>
            }
        }

    </div>
</div>
<a class="btn btn-info" href="@Url.Action("AddKeyWord", new { id = personId })">Добавить новую запись</a>
   


