@using WebAI.Models;
@using BusinessLogic.DTO
@model PersonViewModel
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

@{
    ViewBag.Title = "KeyWord";
    IEnumerable<PersonViewModel> personList = ViewBag.Persons;
    IEnumerable<KeyWordViewModel> keyWordList = ViewBag.KeyWords;
    bool isPersonListEmpty = personList.Count() == 0;

}

@Html.Partial("_AIMenu")
<div class="col-md-8">
    <div style="text-align:center">
        <h3> Справочник "Ключевые Слова"</h3>
        <p>Для редактирования и удаления записи - нажмите на неё</p>
    </div>
    <hr />
    @if (isPersonListEmpty)
    {
        <div class="alert alert-warning" role="alert">Сначала добавьте хотя бы одну персону!</div>
    }
    else
    {
        using (Ajax.BeginForm("FIlteredKeyWord", "Person", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "product-container"

        }, new { @class = "form-inline" }))

        {

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Выберите Персону</div>
                    @Html.DropDownList("id", new SelectList(personList.ToList(), 
                    "Id", 
                    "Name", 
                    personList.FirstOrDefault(x => x.Id == PersonIdRemember.Id)), 
                    new { @class = "form-control" })
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Фильтр" />
        }
        <hr />

        <div id="product-container">
            @Html.Partial("_KeyWordList", keyWordList)
        </div>
    }
</div>
    






