
@model WebAI.Models.Account.LogInViewModel
@{
    ViewBag.Title = "PasswordReminder";
}

<h2>Вы забыли пароль?</h2>
<p>Введите ваш логин и если таковой существует в сиситеме вы получите письмо с вашим паролем</p>
@using (Html.BeginForm("PasswordReminder", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Login)
        @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <button type="submit" class="btn btn-primary">Оправить пароль на почту</button>
}
